@import "page_commons.module";

.container {
  margin-top: 2rem;
  display: block;
}

@media screen and (min-width: 320px) {
  .image_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }
}

@media screen and (min-width: 768px) {
  .container {
    margin-top: 7rem;
  }
  .image_wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}

// @media screen and (min-width: 1024px) {
//   .container {
//     display: grid;
//   }
// }
